<p class="pageheading">About <%=$application_name %></p>

<p><%=$application_name + " " + t("headings.application_subheading")%> version = <%=$application_version%> was developed using </p>
<ul>
	<li>Ruby 1.8.7</li>
	<li>Rails 3.0.1 </li>
</ul>	
<h3>This demo is meant to show</h3> 
<ul>
<li>A proposal for user	interface design</li>
<li>An indication of how Internationalisation could work. At the moment the only way of changing language is to log in as a Dutch user (e.g. ernst-nl@ernst.com) or an English user (e.g. ernst@ernst.com).
<p>(Don't be too hard on the Dutch language: Petra hasn't seen it yet.)</p><p> The Change language selector on the header on the right doesn't work. Sign out does.</p></li>
<li>A demo of Formtastic forms</li>
<li>A demo of Devise authentication: not complete: at the moment it only does the basic sign in and sign out. It will try to log you out after the screen is left inactive. At the moment just restart your browser and login again. </li>
<li>A demo of JQuery User Interface: i.e. jquery is used for a tiny little bit of ajax (The menu only)</li>
</ul>

<h3>What is missing from the demo</h3>
<ul>
<li>No authorisation: proposal to use Cancan but no time: India calls</li>
<li>No testing. Didn't use rspec Test Driven Development (Too many other tools to get a handle on.) </li>
<li>Validation needs work</li>
<li>Models are incomplete</li>
<li>Filling in defaults etc for the user (via ajax or other means ) is missing</li>	
<li>As it was not formally tested you will probably get error screens as you go along: just use the back button and try soemthing else. Enjoy. </li>
</ul>



