<p class="pageheading"><%=t("headings.new.heading", :model=>t("entities.quota") )%></p>

<%= render 'form' %>

<%= link_to t('headings.new.heading', :model=> t('entities.quota')), new_quota_path %> |
<%= link_to t("action.back"), quotas_path %>
