ol{margin:0;padding:0}
p{margin:0}
.c4{color:#000000;font-size:24pt;font-family:Arial;font-weight:bold}
.c1{padding-left:0pt;line-height:1.15;direction:ltr;margin-left:36.0pt}
.c0{line-height:1.15;text-indent:0pt;direction:ltr}
.c6{color:#000000;font-size:14pt;font-family:Arial}
.c2{color:#000000;font-size:11pt;font-family:Arial}
.c9{padding-top:14.0pt;padding-bottom:4.0pt}
.c7{padding-top:24.0pt;padding-bottom:6.0pt}
.c3{padding-top:11.0pt;padding-bottom:2.0pt}
.c5{font-weight:bold}
.c10{list-style-type:disc}
.c8{background-color:#ffffff}