<p id="notice"><%= notice %></p>

<p>
  <b>Iso code:</b>
  <%= @application_language.iso_code %>
</p>


<%= link_to 'Edit', edit_application_language_path(@application_language) %> |
<%= link_to 'Back', application_languages_path %>
